.carousel-indicators{
    display: none !important;
}
.carousel-control-next, .carousel-control-prev {
    display: none !important;
}

.CardCarousel-Heading {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
}

.CardCarousel-Title {
    margin: 0 10px 0 0;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.4px;
}

